/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    --dark-grayish-red: hsl(0, 6%, 24%);

    --gradient-active: linear-gradient(135deg, hsl(0, 92%, 90%), hsl(0, 77%, 92%));
    --gradient-passive: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--dark-grayish-red);
}

p{
    padding: 2rem 0;
    color: var(--desaturated-red);
}

.container{
    width: 90%;
    max-width: 400px;
    margin-inline: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
}

.logo{
  padding: 2rem;
}

.info{
    width: 80%;
    margin-inline: auto;
    padding: 5rem 0;
}

.hero-mobile{
    width: 100%;
}

.info{
    text-align: center;
}

.we-color{
    color: var(--desaturated-red);
    font-weight: 100;
}

.mail-form{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 50px;
    border: 2px solid var(--desaturated-red);
}

.error,
.error-text,
.success{
    position: absolute;
}

.error{
    right: 25%;
    z-index: 50;
    opacity: 0;
    transition: .2s ease-in;
}

.error-text,
.success{
  font-size: .7rem;
  color: var(--soft-red);
  top: 55%;
  left: 6%;
  opacity: 0;
  transition: .2s ease-in;
}

.active{
  opacity: 1;
}

input[type=text]{
    width: 100%;
    padding: .8rem 1.5rem;
    border: none;
    border-radius: 50px;
    color: var(--desaturated-red);   
}

input[type=button]{
    position: absolute;
    top: -2px;
    right: -2px;
    width: 70px;
    border-radius: 50px;
    border: none;
    padding: 0;
    height: 54px;
    background-image: url(images/icon-arrow.svg), var(--gradient-passive);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

input[type=button]:hover{
    background-image: url(images/icon-arrow.svg), var(--gradient-active);
}

input:focus-visible{
    outline: 2px solid var(--soft-red);
}

.media-switcher{
    display: flex;
}

.desktop,
.desktop-bg{
    display: none;
}

.footer{
  padding: 1rem 0;
  background-color: white;
}

.attribution{
    text-align: center;
    color: var(--dark-grayish-red);
}

.attribution a{
    color: var(--dark-grayish-red);
    text-decoration: none;
    transition: .2s ease-in;
}

.attribution a:hover{
    color: var(--desaturated-red);
}

@media (min-width: 940px){
    .hero-mobile{
      display: none;
    }

    .desktop,
    .desktop-bg{
      display: block;
    }

    .mobile{
      width: 55%;
    }

    .desktop{
      width: 45%;
    }

    .desktop-bg{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    .container{
      max-width: 1000px;
      overflow: hidden;
    }

    .logo{
      padding: 3.5rem;
    }

    .info{
      text-align: left;
    }
}